# Ignore environment varianle files
.env

# Ignore build artifacts
/build/
/dist/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib